div div.row{
    padding: 0;
    max-width: 100%;
}

.text::first-line{
    color:blueviolet;
    font-variant: small-caps;
}

.text::first-letter{
    color: pink;
    font-size: 2rem;
}

.text:nth-child(3)::first-line{
    color: blueviolet;
    font-variant: small-caps;
}

.text:nth-child(3)::first-letter{
    color: red;
    font-size: 2rem;
}

.after::after{
    content: ", ¿todo bien?";
    color: red;
}

.before::before{
    content: "Espero le vaya bien, ";
    color: red;
}

.selection::selection{
    background-color: black;
    color: white;
}


dialog::backdrop{
    background-color: #000000aa;
}

.placeholder::placeholder{
    color: deeppink;
    font-size: 2rem;
}

.marker::marker{
    color: hotpink;
    font-size: 2.2rem;
    padding: 0;
}

.speelling_error::spelling-error{
    text-decoration: line-through;
    color: white;
}

.grammar_error::grammar-error{
    text-decoration: underline red;
    color: red;
}